<%- include('./partials/head') %>
  <!-- * voorbeeld van krijn: https://github.com/krijnhoetmer/server-side-rendering-server-side-website/tree/main  -->

  <main>
    <%- include('partials/nav', {current: '/' }); %>


      <!-- <div class="playlists">
      <h2>Playlists</h2>
      <% stories.forEach(playlist=> { %>
        <article>
          <h3><%= playlist.title %></h3>
          <section><%= playlist.summary %></p>
          <% if (playlist.image) { %>
            <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>">
            <% } %>
        </article>
        <% }) %>

        <button class="addPlaylist"></button>

      </div> -->


      <h1>Lessons</h1>
      <form>
        <input type="search" id="story-search">
        <button><i class='bx bx-search'></i></button>
      </form>

      <% stories.forEach(story=> { %>
        <article class="story">
          <h2>
            <%= story.title %>
          </h2>
          <p>
            <%= story.summary %>
          </p>
          <% if (story.image) { %>
            <img src="https://fdnd-agency.directus.app/assets/<%= story.image %>">
            <% } %>
              <div class="story-extras">
                <button>play</button>
                <p>length</p>
                <button>download</button>
                <button>like</button>
              </div>
        </article>
        <% }) %>
  </main>

  <%- include('./partials/foot') %>