<%- include('./partials/head') %>
  <!-- * voorbeeld van krijn: https://github.com/krijnhoetmer/server-side-rendering-server-side-website/tree/main  -->

  <header>
    <%- include('partials/nav', {current: '/' }); %>

  </header>

  <main>

    <div class="top-content">
      <h1>Lessons</h1>
      <form>
        <input type="search" id="story-search" placeholder="search...">
        <button><i class='bx bx-search'></i></button>
      </form>
    </div>

    <div class="container-story">

      <% stories.forEach(story=> { %>
        <article class="story">
          <h2>
            <%= story.title %>
          </h2>
          <% if (story.image) { %><img src="https://fdnd-agency.directus.app/assets/<%= story.image %>">
            <% } %>

              <p>
                <%= story.summary %>
              </p>
              <div class="story-extras">
                <button>download</button>
                <button>like</button>
                <button>play</button>
              </div>
        </article>
        <% }) %>

    </div>

  </main>

  <%- include('./partials/foot') %>